*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	padding-top: var(--height-header);
}
