:root {
	--color-white: 0, 0%, 100%;
	--color-black: 0, 0%, 0%;
	--color-amber-50: 48, 100%, 96.1%;
	--color-amber-100: 48, 96.5%, 88.8%;
	--color-amber-200: 48, 96.6%, 76.7%;
	--color-amber-300: 45.9, 96.7%, 64.5%;
	--color-amber-400: 43.3, 96.4%, 56.3%;
	--color-amber-500: 37.7, 92.1%, 50.2%;
	--color-amber-600: 32.1, 94.6%, 43.7%;
	--color-amber-700: 26, 90.5%, 37.1%;
	--color-amber-800: 22.7, 82.5%, 31.4%;
	--color-amber-900: 21.7, 77.8%, 26.5%;
	--color-gray-cool-50: 210, 20%, 98%;
	--color-gray-cool-100: 220, 14.3%, 95.9%;
	--color-gray-cool-200: 220, 13%, 91%;
	--color-gray-cool-300: 216, 12.2%, 83.9%;
	--color-gray-cool-400: 217.9, 10.6%, 64.9%;
	--color-gray-cool-500: 220, 8.9%, 46.1%;
	--color-gray-cool-600: 215, 13.8%, 34.1%;
	--color-gray-cool-700: 216.9, 19.1%, 26.7%;
	--color-gray-cool-800: 215, 27.9%, 16.9%;
	--color-gray-cool-900: 220.9, 39.3%, 11%;
	--color-gray-50: 0, 0%, 98%;
	--color-gray-100: 240, 4.8%, 95.9%;
	--color-gray-200: 240, 5.9%, 90%;
	--color-gray-300: 240, 4.9%, 83.9%;
	--color-gray-400: 240, 5%, 64.9%;
	--color-gray-500: 240, 3.8%, 46.1%;
	--color-gray-600: 240, 5.2%, 33.9%;
	--color-gray-700: 240, 5.3%, 26.1%;
	--color-gray-800: 240, 3.7%, 15.9%;
	--color-gray-900: 240, 5.9%, 10%;
	--color-gray-warm-50: 60, 9.1%, 97.8%;
	--color-gray-warm-100: 60, 4.8%, 95.9%;
	--color-gray-warm-200: 20, 5.9%, 90%;
	--color-gray-warm-300: 24, 5.7%, 82.9%;
	--color-gray-warm-400: 24, 5.4%, 63.9%;
	--color-gray-warm-500: 25, 5.3%, 44.7%;
	--color-gray-warm-600: 33.3, 5.5%, 32.4%;
	--color-gray-warm-700: 30, 6.3%, 25.1%;
	--color-gray-warm-800: 12, 6.5%, 15.1%;
	--color-gray-warm-900: 24, 9.8%, 10%;
	--color-indigo-50: 225.9, 100%, 96.7%;
	--color-indigo-100: 226.5, 100%, 93.9%;
	--color-indigo-200: 228, 96.5%, 88.8%;
	--color-indigo-300: 229.7, 93.5%, 81.8%;
	--color-indigo-400: 234.5, 89.5%, 73.9%;
	--color-indigo-500: 238.7, 83.5%, 66.7%;
	--color-indigo-600: 243.4, 75.4%, 58.6%;
	--color-indigo-700: 244.5, 57.9%, 50.6%;
	--color-indigo-800: 243.7, 54.5%, 41.4%;
	--color-indigo-900: 242.2, 47.4%, 34.3%;

	/* Theme */
	&[data-theme="dark"] {
		--color-base: hsl(var(--color-gray-50));
		--color-primary: hsl(var(--color-amber-500));
		--color-accent: hsl(var(--color-gray-300));
		--color-accent-background: hsl(var(--color-gray-800));
		--color-accent-border: hsl(var(--color-gray-700));
		--color-body: hsl(var(--color-gray-200));
		--color-headings: hsl(var(--color-gray-50));
		--color-background: hsl(var(--color-gray-900));
		--color-gradient: linear-gradient(165deg, #f59e0b, #f39909, #ed8c06, #e37a05, #d96606, #ce5409, #c5460b, #c2410c);
		--color-shadow: hsla(var(--color-amber-900), 0.5);
	}

	&[data-theme="light"] {
		--color-base: hsl(var(--color-gray-cool-900));
		--color-primary: hsl(var(--color-indigo-500));
		--color-accent: hsl(var(--color-gray-cool-600));
		--color-accent-background: hsl(var(--color-gray-cool-100));
		--color-accent-border: hsl(var(--color-gray-300));
		--color-body: hsl(var(--color-gray-cool-700));
		--color-headings: hsl(var(--color-gray-cool-800));
		--color-background: hsl(var(--color-gray-cool-50));
		--color-gradient: linear-gradient(165deg, #6366f1, #6363f0, #645ced, #6552e9, #6745e4, #6a38df, #6c2ddb, #6d28d9);
		--color-shadow: hsla(var(--color-indigo-900), 0.5);
	}
}
