:root {
	/* Heights */
	--height-header: calc(60 / 16 * 1rem);

	/* Widths */
	--width-small: 40rem;
	--width-default: 50rem;
	--width-large: 60rem;
	--width-xlarge: 70rem;
	--width-xxlarge: 80rem;

	/* Breakpoints */
	--breakpoint-navigation: 40em; /* 640px */
}
