img {
	border-radius: 0.5rem;
	display: inline-block;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

video {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

figure {
	display: table;
	margin-block: var(--space-2xl);
	margin-inline: 0;
	width: 100%;

	& img,
	& video,
	& iframe:not(.codepen) {
		display: block;
		height: auto;
		max-width: 100%;
	}
}
