img {
	border-radius: 0.5rem;
	display: inline-block;
	height: auto;
	max-width: 100%;
	overflow: hidden;
	vertical-align: middle;
}

video {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}
