*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: var(--height-header);

	&[data-navigation-open="true"] {
		overflow: hidden;
		padding-inline-end: var(--scrollbar-width, 0);
	}
}

body {
	display: flex;
	flex-direction: column;
	padding-top: var(--height-header);
	scroll-behavior: smooth;
	scroll-padding-top: var(--height-header);
}
