html {
	font-size: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-body);
	font-family: var(--font-family-sans-serif);
	font-size: var(--step-0);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: var(--font-weight-normal);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-headings);
	font-family: inherit;
	font-weight: var(--font-weight-medium);
	line-height: 1.2;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

h1,
.h1 {
	font-size: var(--step-5);

	& .subtitle {
		color: var(--color-accent);
		display: block;
		font-size: var(--step-2);
		font-weight: 300;
	}
}

h2,
.h2 {
	font-size: var(--step-4);
}

h3,
.h3 {
	font-size: var(--step-3);
}

h4,
.h4 {
	font-size: var(--step-2);
}

h5,
.h5 {
	font-size: var(--step-1);
}

a {
	background-color: transparent;
	color: var(--color-primary);
	text-decoration: underline;
	text-decoration-color: currentColor;
	text-decoration-thickness: 0.125rem;
	transition-duration: var(--transition-duration);
	transition-property: background, border-color, color, text-decoration-color;
	transition-timing-function: var(--transition-easing);

	&:hover,
	&:focus {
		--bg-color: var(--color-amber-900);

		background-color: var(--bg-color);
		text-decoration: none;
		text-decoration-color: transparent;

		@media (prefers-color-scheme: light) {
			--bg-color: var(--color-indigo-200);
		}
	}
}

hr {
	background-image: linear-gradient(to left, transparent, var(--color-primary), transparent);
	border: none;
	height: 0.125rem;
}

q::after,
q::before {
	color: var(--color-primary);
}

li::marker {
	color: var(--color-primary);
}

code {
	background-color: var(--color-gray-900);
	border-radius: 0.5rem;
	display: inline-block;
	padding: 0.25em 0.5em;
}

pre {
	overflow-x: auto;

	& code {
		padding: 0.75em 1em;
	}
}

kbd {
	background-color: var(--color-background);
	border-bottom: 0.125em solid var(--color-gray-700);
	border-radius: 0.25rem;
	padding: 0.25em 0.5em;
}

blockquote {
	font-size: var(--step-1);
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem 3rem;
	position: relative;

	&::before {
		background-image: linear-gradient(to bottom, var(--color-primary), transparent);
		border-radius: 0.125rem;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 0.25rem;
	}
}

cite {
	font-size: var(--step-0);
}

table {
	border-collapse: collapse;

	& thead {
		border-bottom: 1px solid var(--color-accent-border);
		color: var(--color-headings);
	}

	& tr:nth-child(even) {
		background-color: var(--color-accent-border);
	}

	& th,
	& td {
		padding: 1rem;
	}
}

dt {
	color: var(--color-headings);
	font-weight: 700;
}

dd {
	margin-left: 0;
	padding-left: 3rem;
	position: relative;
}

dd::before {
	color: var(--color-primary);
	content: "⮩";
	left: 1rem;
	position: absolute;
	top: 0;
}
