.single__header,
.single__content {
	padding: 10vh 10vw;
}

.single__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 80vh;
}

.single__heading {
	margin-bottom: 0.25em;
	margin-top: 0;
}

.single__date {
	margin-bottom: 1em;
}
