.single__header,
.single__content {
	padding: clamp(5vh, 7.5vh, 10vh) clamp(5vw, 7.5vw, 10vw);
}

.single__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 80vh;

	@nest .single-snippet & {
		min-height: 0;
	}
}

.single__heading {
	margin-bottom: 0.25em;
	margin-top: 0;
}

.single__date {
	color: var(--color-accent);
	margin-bottom: 1em;
}

.single__content {

	& p:first-child {
		font-size: var(--step-1);
		font-weight: var(--font-weight-medium);
	}
}
