.logos {
	display: flex;
	flex-wrap: wrap;
	gap: 2em 3em;
	justify-content: center;
	list-style: none;
	margin-block: var(--space-2xl);
	max-width: calc(1200 / 16 * 1rem);
	padding: 0;

	& li {
		display: flex;
		flex: 1 1 12rem;
		justify-content: center;
	}

	& .svg {
		display: flex;

		& svg {
			fill: var(--color-body);
			max-height: 2em;
			max-width: 100%;
			width: auto;
		}
	}
}
