.navigation {

	& button {
		@media (min-width: 48em) {
			display: none;
		}
	}

	& ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& a {
		align-items: center;
		background: none;
		color: var(--color-base);
		display: flex;
		font-weight: 500;
		justify-content: center;
		min-height: calc(44 / 16 * 1rem);
		padding: 0.5em 1em;
		text-decoration: underline;
		text-decoration-color: transparent;
		text-decoration-thickness: min(0.125em, 0.25rem);
		transition-property: color, text-decoration, transform;

		&:hover,
		&:focus {
			background: none;
			text-decoration-color: var(--color-primary);
		}
	}
}

.navigation__inner {
	display: flex;
}

.navigation--primary {
	margin: auto 0;

	& ul {
		align-items: flex-start;
		flex-direction: column;

		@media (min-width: 48em) {
			align-items: center;
			flex-direction: row;
		}
	}

	& a {
		font-size: var(--step-3);
		padding: 1rem 10vw;

		@media (min-width: 48em) {
			font-size: var(--step-0);
			padding: 0.5em 1em;
		}
	}
}

.navigation--social {
	margin-top: auto;

	& a {
		color: var(--color-base);

		&:hover,
		&:focus {
			color: var(--color-primary);
			transform: scale(1.2);
		}
	}

	& ul {
		border-top: 1px solid var(--color-accent-border);
		margin: 0 10vw;
		padding: 1rem 0;

		@media (min-width: 48em) {
			border-top: none;
			margin: 0;
			padding: 0;
		}
	}
}

.navigation--pagination {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	& .navigation__link {
		display: inline-flex;
	}

	& .navigation__link--previous {
		grid-column: 1;
		justify-content: flex-start;
	}

	& .navigation__link--next {
		grid-column: 2;
		justify-content: flex-end;
	}
}
