.navigation {
	& button {
		@media (min-width: 40em) {
			display: none;
		}
	}

	& ul {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& a {
		align-items: center;
		color: var(--color-white);
		display: flex;
		justify-content: center;
		min-height: calc(44 / 16 * 1rem);
		padding: 0.5em 1em;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: var(--color-primary);
			color: var(--color-background);
		}
	}
}

.navigation__inner {
	display: flex;
}

.navigation--pagination {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	& .navigation__link {
		display: inline-flex;
	}

	& .navigation__link--previous {
		grid-column: 1;
		justify-content: flex-start;
	}

	& .navigation__link--next {
		grid-column: 2;
		justify-content: flex-end;
	}
}
