.recent-posts {

}

.recent-posts__list {
	display: grid;
	gap: 1.25rem;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	list-style: none;
	padding: 0;
}

.recent-posts__list-item {
	display: flex;
	min-height: 30vh;
}
