.site-header {
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-accent-border);
	border-top: 2px solid var(--color-primary);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.site-header__backdrop {
	backdrop-filter: blur(0.5rem);
	background-color: hsl(var(--color-gray-warm-900) 90%);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition-duration: var(--transition-duration);
	transition-property: opacity, visibility;
	transition-timing-function: var(--transition-easing);
	visibility: hidden;
	width: 100%;

	@nest [data-open="true"] & {
		opacity: 1;
		visibility: visible;
	}

	@nest [data-theme="light"] & {
		background-color: hsl(var(--color-gray-warm-100), 90%);
	}
}

.site-header__inner {
	align-items: center;
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-accent-border);
	display: flex;
	justify-content: space-between;
	position: relative;
}

.site-header__logo {
	border: none;
	color: var(--color-base);
	display: inline-flex;

	&:hover,
	&:focus {
		background: var(--color-primary);
		color: var(--color-background);
	}
}

.site-header__navigation {
	border-top: 2px solid var(--color-primary);
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition-duration: var(--transition-duration);
	transition-property: opacity, visibility;
	transition-timing-function: var(--transition-easing);
	visibility: hidden;
	width: 100%;

	&[data-open="true"] {
		opacity: 1;
		visibility: visible;
	}
}

.site-header__navigation-content {
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	transform: translateX(-100%);
	transition-duration: var(--transition-duration);
	transition-property: transform;
	transition-timing-function: var(--transition-easing);
	width: min(90%, 30rem);

	@nest [data-open="true"] & {
		transform: translateX(0%);
	}
}

.site-header__button {
	align-items: center;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--color-accent-border);
	border-radius: 0.25em;
	color: var(--color-base);
	display: inline-flex;
	font-size: 1rem;
	gap: 0.25rem;
	justify-content: center;
	line-height: 1.5;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 0.25em 0.5em;
	transition-duration: var(--transition-duration);
	transition-property: background-color, border-color, color;
	transition-timing-function: var(--transition-easing);

	&:hover,
	&:focus {
		background-color: var(--color-primary);
		border-color: var(--color-primary);
		color: var(--color-background);
	}
}
