.site-header {
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-accent-border);
	border-top: 2px solid var(--color-primary);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.site-header__inner {
	align-items: center;
	background-color: var(--color-background);
	display: flex;
	justify-content: space-between;
}

.site-header__logo {
	border: none;
	color: var(--color-base);
	display: inline-flex;

	&:hover,
	&:focus {
		background: var(--color-primary);
		color: var(--color-background);
	}
}

.site-header__navigation {
	border-top: 2px solid var(--color-primary);
	display: none;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&[data-open="true"] {
		display: flex;
	}
}

.site-header__navigation-content {
	backdrop-filter: blur(0.5rem);
	background-color: hsla(var(--color-gray-warm-800) 90%);
	border-top: 1px solid var(--color-accent-border);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: min(90%, 30rem);
}

.site-header__button {
	align-items: center;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--color-accent-border);
	border-radius: 0.25em;
	color: var(--color-base);
	display: inline-flex;
	font-size: 1rem;
	justify-content: center;
	line-height: 1.5;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 0.25em 0.5em;
}
