.card {
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	position: relative;
	transition-duration: var(--transition-duration);
	transition-property: all;
	transition-timing-function: var(--transition-easing);
	width: 100%;

	&:hover,
	&:focus-within {
		background-color: transparent;
		color: hsl(var(--color-white));

		& .card__heading,
		& .card__link,
		& .card__date {
			color: hsl(var(--color-white));
			text-shadow: 0.125em 0.125em 0.125em var(--color-shadow);
		}

		& .tag {
			border-color: hsl(var(--color-white));
			color: hsl(var(--color-white));
		}
	}

	& .card__heading,
	& .card__link,
	& .card__date,
	& .tag {
		text-shadow: 0.125em 0.125em 0.125em transparent;
		transition-duration: var(--transition-duration);
		transition-property: all;
		transition-timing-function: var(--transition-easing);
	}
}

.card__heading {
	font-size: var(--step-2);
	margin-bottom: 1rem;
	margin-top: 0;
}

.card__link {

	&::after {
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&:hover,
	&:focus {
		background-color: transparent;
	}
}

.card__date {
	color: var(--color-accent);
	font-size: var(--step--1);
	margin-bottom: 1rem;
}
