.link--heading {
	font-size: 0.75em;
	opacity: 0%;
	text-decoration: none;
	transition-property: opacity, background;
}

h2,
h3,
h4,
h5,
h6 {
	&:hover {
		& .link--heading {
			opacity: 100%;
		}
	}
}
