.logo__background {
	fill: transparent;
}

.logo__letter {
	fill: currentColor;
	transition-duration: var(--transition-duration);
	transition-property: fill;
	transition-timing-function: var(--transition-easing);
}
