.site-header {
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-accent-border);
	border-top: 2px solid var(--color-primary);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.site-header__inner {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: 40em) {
		flex-direction: row;
	}
}

.site-header__logo {
	border: none;
	color: var(--color-base);
	display: inline-flex;

	&:hover,
	&:focus {
		background: var(--color-primary);
		color: var(--color-background);
	}
}

.site-header__navigation {
	background-color: var(--color-background);
	display: none;
	flex-direction: column;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

	&[data-open="true"] {
		display: flex;
	}

	@media (min-width: 48em) {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		position: static;
	}
}

.site-header__button {
	align-items: center;
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: var(--color-base);
	display: inline-flex;
	font-size: var(--step-2);
	justify-content: center;
	min-height: calc(44 / 16 * 1rem);
	padding: 0.5em 1em;

	@media (min-width: 48em) {
		display: none;
	}
}
