.transition--page {
	opacity: 1;
	transition-duration: var(--transition-duration);
	transition-property: opacity;
	transition-timing-function: var(--transition-timing-function);

	.is-animating & {
		opacity: 0;
	}
}
