---
import siteData from './../data/site.json';
import Navigation from './Navigation.astro';
import NavigationSocial from './NavigationSocial.astro';
import SiteLogo from './SiteLogo.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---
<header id="site-header" class="site-header">
    <a href="#main" class="skip-link button button--primary">Skip to content</a>

	<div class="site-header__inner">
		<SiteLogo />

		<button class="site-header__button" data-action="open" type="button">
			Menu
		</button>
	</div>
	<div id="site-header-navigation" class="site-header__navigation">
		<div class="site-header__inner">
			<SiteLogo />
			<button class="site-header__button" data-action="close" type="button">
				Close
			</button>
		</div>
		<div class="site-header__navigation-content">
			<Navigation />
			<ThemeSwitcher />
			<NavigationSocial />
		</div>
	</div>
</header>
