---
const year = new Date().getFullYear();
---
<footer class="site-footer" role="contentinfo">
    <p>Copyright &copy; {year}. Made with ❤️ and <a href="https://astro.build">Astro</a> by Jon Michael Christensen. Check out <a href="https://github.com/Firestorm980/jmcdsn-astro">this site's repo</a> on Github.</p>
</footer>
<script src="/assets/js/index.js" type="module"></script>
