---
import dayjs from 'dayjs';
import Tags from '@components/Tags.astro';
import Time from './Time.astro';

const { post } = Astro.props;
const { data } = post;
const { title, date, categories } = data;
const slug = `/my-thoughts/${post.slug.split('/').pop()}`
---
<article class="card">
	<h3 class="card__heading">
		<a class="card__link" href={slug}>
			{title}
		</a>
	</h3>
	<Time className="card__date" date={date} />
	{categories.length && <div class="card__tags"><Tags tags={categories} /></div>}
</article>
