---
import Tags from '@/components/Tags.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Link from '@/components/Link.astro';

const { post } = Astro.props;
const { data } = post;
const { title, date, categories } = data;
const slug = `my-thoughts/${post.slug.split('/').pop()}`
---
<article class="card">
	<h3 class="card__heading">
		<Link class="card__link" href={slug}>
			{title}
		</Link>
	</h3>
	<div class="card__date">
		<FormattedDate date={date} />
	</div>
	{categories.length && <div class="card__tags"><Tags tags={categories} /></div>}
</article>
