---
import Tags from '@components/Tags.astro';
import Time from '@components/Time.astro';
import Link from '@components/Link.astro';

const { post } = Astro.props;
const { data } = post;
const { title, date, categories } = data;
const slug = `my-thoughts/${post.slug.split('/').pop()}`
---
<article class="card">
	<h3 class="card__heading">
		<Link class="card__link" href={slug}>
			{title}
		</Link>
	</h3>
	<Time class="card__date" date={date} />
	{categories.length && <div class="card__tags"><Tags tags={categories} /></div>}
</article>
