---

---
<nav class="navigation navigation--primary">
	<ul>
		<li style="--index: 1;"><a href="/about-me/">About Me</a></li>
		<li style="--index: 2;"><a href="/my-thoughts/">My Thoughts</a></li>
		<li style="--index: 3;"><a href="/snippets/">Snippets</a></li>
		<li style="--index: 4;"><a href="/contact/">Contact</a></li>
	</ul>
</nav>
