---
import Icon from '@/components/Icon.astro';

const networks = [
    {
        slug: "linkedin",
        name: "LinkedIn",
        url: "https://www.linkedin.com/in/jon-christensen-2768381a/"
    },
    {
        slug: "github",
        name: "Github",
        url: "https://github.com/Firestorm980/"
    }
]
---
<div class="navigation navigation--social">
	<ul>
		{networks.map((network) => {
			return (
				<li>
					<a href={ network.url }>
						<span class="sr-only">Visit me on { network.name }</span>
						<Icon name={network.slug} />
					</a>
				</li>
			)
		})}
	</ul>
</div>
