---
import siteData from '@data/site.json';
import Icon from '@components/Icon.astro';

const {networks} = siteData;
---
<div class="navigation navigation--social">
	<ul>
		{networks.map((network) => {
			return (
				<li>
					<a href={ network.url }>
						<span class="sr-only">Visit me on { network.name }</span>
						<Icon name={network.slug} />
					</a>
				</li>
			)
		})}
	</ul>
</div>
