---

---
<nav class="navigation navigation--primary">
	<ul>
		<li><a href="/about-me/">About Me</a></li>
		<li><a href="/my-thoughts/">My Thoughts</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
</nav>
