---
import Link from "@components/Link.astro";

const links = [
	{ slug: 'about-me/', name: 'About Me' },
	{ slug: 'my-thoughts/', name: 'My Thoughts' },
	{ slug: 'snippets/', name: 'Snippets' },
	{ slug: 'contact/', name: 'Contact' }
];
---
<nav class="navigation navigation--primary">
	<ul>
		{links.map(({slug, name}, index) => {
			return (
				<li style={`--index: ${index}; --total: ${links.length}`}>
					<Link href={slug}>{name}</Link>
				</li>
			)
		})}
	</ul>
</nav>
