---
import { getCollection } from 'astro:content';
import Card from '@/components/Card.astro';
import { filterDrafts, sortEntriesByDate } from '@/utils';

let entries = await getCollection('my-thoughts')

entries = sortEntriesByDate(entries);
entries = filterDrafts(entries);
---
<div class="recent-posts">
	<ul class="recent-posts__list">
		{entries.slice(0, 4).map((post) => {
			return (
				<li class="recent-posts__list-item">
					<Card post={post} />
				</li>
			)
		})}
	</ul>
</div>
