---
import { getCollection } from 'astro:content';
import Card from '@/components/Card.astro';

let posts = await getCollection('my-thoughts')

// Sort posts in reverse chronological order (newest first).
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---
<div class="recent-posts">
	<ul class="recent-posts__list">
		{posts.slice(0, 4).map((post) => {
			return (
				<li class="recent-posts__list-item">
					<Card post={post} />
				</li>
			)
		})}
	</ul>
</div>
