---
const {path, name} = Astro.props;
const response = await import(`../../public/assets/${path}?raw`)
const svg = response.default
---
<div>
	<span class="sr-only">{name}</span>
	<div class="svg" aria-hidden="true" set:html={svg} />
</div>
