---
const {path, name} = Astro.props;
const svgs = import.meta.glob('../assets/images/**/*.svg', { as: 'raw' })
const match = svgs[`../assets/${path}.svg`];
const svg = (await match())
---
<div>
	<span class="sr-only">{name}</span>
	<div class="svg" aria-hidden="true" set:html={svg} />
</div>
