---
import Icon from '@components/Icon.astro';
---
<form class="theme-switcher" id="theme-switcher">
	<fieldset class="theme-switcher__fieldset">
		<legend class="theme-switcher__legend sr-only">Pick the site theme</legend>
		<div class="theme-switcher__option">
			<input id="theme-option-1" class="theme-switcher__input" type="radio" name="theme" value="light">
			<label for="theme-option-1" class="theme-switcher__label">
				<Icon name="light-up" />
				<span>Light</span>
			</label>
		</div>
		<div class="theme-switcher__option">
			<input id="theme-option-2" class="theme-switcher__input" type="radio" name="theme" value="dark">
			<label for="theme-option-2" class="theme-switcher__label">
				<Icon name="moon" />
				<span>Dark</span>
			</label>
		</div>
	</fieldset>
</form>
