---
---
<form class="theme-switcher" id="theme-switcher">
	<fieldset class="theme-switcher__fieldset">
		<legend class="theme-switcher__legend">Theme</legend>
		<div class="theme-switcher__option">
			<input id="theme-option-1" class="theme-switcher__input" type="radio" name="theme" value="light">
			<label for="theme-option-1" class="theme-switcher__label">
				Light
			</label>
		</div>
		<div class="theme-switcher__option">
			<input id="theme-option-2" class="theme-switcher__input" type="radio" name="theme" value="dark">
			<label for="theme-option-2" class="theme-switcher__label">
				Dark
			</label>
		</div>
	</fieldset>
</form>
