---
import DefaultLayout from '@layouts/Default.astro';
import Tags from '@components/Tags.astro';
import { getSnippetLink } from './../utils';

const { kind, snippets } = Astro.props;
const title = 'Snippets';
---
<DefaultLayout content={{title, bodyClass: kind}}>
	<header class="section section--emphasis">
		<div class="content">
			<h1>
				{title}

				<span class="subtitle">A repository of little code goodies</span>
			</h1>
		</div>
	</header>
	<div class="section">
		<div class="content">
			<ul class="snippets">
				{snippets.map(snippet => {
					const {title, categories} = snippet;
					const href = getSnippetLink(snippet);
					return (
						<li class="snippets__item">
							<a class="snippets__item-link" href={href}>
								<span class="snippets__item-title">{title}</span>
								{categories?.length && <div class="snippets__item-tags"><Tags tags={categories} /></div>}
							</a>
						</li>
					)
				})}
			</ul>
		</div>
	</div>
</DefaultLayout>
