---
import SiteSVG from "@/components/SiteSVG.astro";
import SiteFooter from "@/components/SiteFooter.astro";
import SiteHead from "@/components/SiteHead.astro";
import SiteHeader from "@/components/SiteHeader.astro";

const {
    bodyClass,
    title,
    description,
    image
} = Astro.props;
---
<html lang="en">
    <head>
        <SiteHead
            title={title}
            description={description}
            image={image}
        />
    </head>
    <body class={bodyClass} data-swup-scroll-container>
        <SiteSVG />
        <SiteHeader />
        <main id="main" class="site-main">
            <div id="swup" class="site-main__content transition transition--page">
                <slot />
            </div>
        </main>
        <SiteFooter />
        <script>
            import '@/assets/js/index.js';
        </script>
    </body>
</html>
