---
interface Props {
    entry: Entry;
}

import BaseLayout from '@/layouts/Base.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Tags from '@/components/Tags.astro';
import type { Entry, Post } from '@/types';
import FrontMatterImage from '@/components/FrontMatterImage.astro';

const { entry } = Astro.props;
const { data } = entry;
const {
    title,
    description = '',
    date,
    categories,
    featured_image = ''
} = data as Post;
const { Content } = await entry.render();

const layoutProps = {
    title,
    description,
    image: featured_image,
    bodyClass: 'single single--project',
}
---
<BaseLayout {...layoutProps}>
    <article>
        <header class="single__header section">
			<div class="single__header-featured-image">
				<FrontMatterImage src={featured_image} />
			</div>
			<div class="single__header-content">
				<h1 class="single__heading">{title}</h1>
				<div class="single__date">
					<FormattedDate date={date} />
				</div>
			</div>
		</header>
		<div class="content single__content section">
			<Content />
		</div>
    </article>
</BaseLayout>
