---
import Tags from '@components/Tags.astro';
import DefaultLayout from '@layouts/Default.astro';
import Time from '@components/Time.astro';

const { kind, post } = Astro.props;
const { data: { title, date, categories, last_updated } } = post;
const { Content } = await post.render();
---
<DefaultLayout content={{title, bodyClass: kind}}>
	<article>
		<header class="single__header section">
			<h1 class="single__heading">{title}</h1>
			<Time date={date} class="single__date" />
			<Time date={last_updated} class="single__date" />
			{categories?.length && <div class="single__tags"><Tags tags={categories} /></div>}
		</header>
		<div class="content single__content section">
			<Content />
		</div>
	</article>
</DefaultLayout>
