---
import dayjs from 'dayjs';
import Tags from '@components/Tags.astro';
import DefaultLayout from '@layouts/Default.astro';
import { Markdown } from 'astro/components';

const { kind, post } = Astro.props;
const { title, date, categories, astro } = post;
const { source } = astro;
const post_date = (date) ? new Date(date) : false;
---
<DefaultLayout content={{title, bodyClass: kind}}>
	<article>
		<header class="single__header">
			<h1 class="single__heading">{title}</h1>
			{post_date && (
				<time class="single__date" datetime={post_date.toISOString()}>
					{dayjs(date, 'YYYY-MM-DD').format('dddd, MMMM D, YYYY')}
				</time>
			)}
			{categories?.length && <div class="single__tags"><Tags tags={categories} /></div>}
		</header>
		<div class="content single__content">
			<Markdown content={source} />
		</div>
	</article>
</DefaultLayout>
