---
import type { Entry, Snippet } from '../types';

interface Props {
    entry: Entry;
}

import BaseLayout from '../layouts/Base.astro';
import FormattedDate from '../components/FormattedDate.astro';

const { entry } = Astro.props;
const { data } = entry;
const {
    title,
    description = '',
    date,
    draft,
    categories,
    lastmod,
} = data as Snippet;
const { Content } = await entry.render();

const layoutProps = {
    title,
    description,
    bodyClass: 'single single--snippet',
}
---
<BaseLayout {...layoutProps}>
    <article>
        <h1>{title}</h1>
        <p>Created: <FormattedDate date={date} /></p>
        <p>Modified: <FormattedDate date={lastmod} /></p>
        <div class="entry-content">
            <Content />
        </div>
    </article>
</BaseLayout>